<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>mysite02</display-name>
	
	<servlet>
		<description></description>
		<display-name>MainController</display-name>
		<servlet-name>MainController</servlet-name>
		<servlet-class>com.poscodx.mysite.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern></url-pattern> <!--경로를 '/'로해놓으면 모든 요청을 받는다는 의미 주의. /로 접속하려면 그냥 비우기 -->
	</servlet-mapping>
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>